<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="cadena"
        connectionString="Server=tcp:sqlserver-eastus-dev-habitart.database.windows.net,1433;Initial Catalog=sql-eastus-dev-habitart;Persist Security Info=False;User ID=admin-lingo;Password=@dmin123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" 
        providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
</configuration>